In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import re

In [2]:
pd.set_option('display.max_colwidth',500)
pd.set_option('display.max_rows',500)

In [3]:
player = pd.read_csv("common_player_info.csv")

In [4]:
player = player.drop_duplicates(subset=['person_id'])
player = player.drop(['first_name', 'last_name',
       'display_last_comma_first', 'display_fi_last', 'player_slug',
       'birthdate', 'school', 'country', 'last_affiliation', 'jersey', 'position', 'rosterstatus',
       'games_played_current_season_flag', 'team_id', 'team_name',
       'team_abbreviation', 'team_code', 'team_city', 'playercode',
       'from_year', 'to_year', 'dleague_flag', 'nba_flag',
       'draft_year', 'draft_round', 'draft_number', "games_played_flag"], axis = 1)
player = player.sort_values(by = ["person_id"], ascending = True)

In [5]:
player

,person_id,display_first_last,height,weight,season_exp,greatest_75_flag
1045,3,Grant Long,6-9,240.0,16.0,N
2025,9,Sedale Threatt,6-2,185.0,14.0,N
899,12,Chris King,6-8,215.0,3.0,N
1470,15,Eric Piatkowski,6-7,215.0,15.0,N
34,21,Greg Anthony,6-1,180.0,11.0,N
...,...,...,...,...,...,...
1264,1631320,Chima Moneke,6-5,223.0,0.0,N
340,1631323,Simone Fontecchio,6-7,209.0,0.0,N
1479,1631342,Daeqwon Plowden,NaN,NaN,0.0,N
909,1631452,Noah Kirkwood,NaN,NaN,0.0,N
2322,1631466,Jeenathan Williams,NaN,NaN,0.0,N

In [6]:
to_be_deleted = []
for row in player.iterrows():
    if pd.isna(row[1]["weight"]):
        to_be_deleted.append(row[0])
        
player = player.drop(to_be_deleted)

In [7]:
p = re.compile('\d+')
height = []
for row in player.iterrows():
    if not pd.isna(row[1]["height"]):
        height_in_inches = float(p.findall(row[1]["height"])[0]) * 12 + float(p.findall(row[1]["height"])[1])
        height.append(height_in_inches)
    else:
        height.append(np.nan)
player["height"] = height

In [8]:
player["field_goals_made"] = [0] * player.shape[0]
player["field_goals_ast"] = [0] * player.shape[0]
player["field_goals_missed"] = [0] * player.shape[0]
player["field_goals_blocked"] = [0] * player.shape[0]
player["free_throws_made"] = [0] * player.shape[0]
player["free_throws_missed"] = [0] * player.shape[0]
player["times_ball_lost"] = [0] * player.shape[0]
player["times_ball_stolen"] = [0] * player.shape[0]
player["rebounds"] = [0] * player.shape[0]
player["fouls"] = [0] * player.shape[0]
player["game_id"] = [0] * player.shape[0]
player["games_played"] = [0] * player.shape[0]

In [ ]:
play = pd.read_csv("play_by_play.csv")

In [ ]:
play.drop(['eventnum', 'eventmsgtype', 'eventmsgactiontype', 'period',
       'wctimestring', 'pctimestring', 'neutraldescription', 'person1type',
       'player1_id', 'player1_team_id', 'player1_team_city',
       'player1_team_nickname', 'player1_team_abbreviation', 'person2type',
       'player2_id','player2_team_id', 'player2_team_city',
       'player2_team_nickname', 'player2_team_abbreviation', 'person3type',
       'player3_id','player3_team_id', 'player3_team_city',
       'player3_team_nickname', 'player3_team_abbreviation',
       'video_available_flag'], axis = 1)

In [ ]:

game_id = 0
count = 0
check = [False] * player.shape[0]
print("starting...")
for row in play.iterrows():
    temp1 = (player["display_first_last"] == row[1]["player1_name"]).values.tolist()
    temp2 = (player["display_first_last"] == row[1]["player2_name"]).values.tolist()
    temp3 = (player["display_first_last"] == row[1]["player3_name"]).values.tolist()
    if temp1 != check:
        if ((((row[1]["eventmsgtype"] == 8) | (row[1]["eventmsgtype"] == 9)) | ((row[1]["eventmsgtype"] == 10) | (row[1]["eventmsgtype"] == 11))) | ((row[1]["eventmsgtype"] == 12) | (row[1]["eventmsgtype"] == 13))):
            continue
        
        elif row[1]["eventmsgtype"] == 1:
            player.loc[temp1, "field_goals_made"] += 1
            if not pd.isna(row[1]["player2_name"]):
                player.loc[temp2, "field_goals_ast"] += 1
    
        elif row[1]["eventmsgtype"] == 2:
            player.loc[temp1, "field_goals_missed"] += 1
            if not pd.isna(row[1]["player2_name"]):
                player.loc[temp3, "field_goals_blocked"] += 1
            
        elif row[1]["eventmsgtype"] == 3:
            if not pd.isna(row[1]['homedescription']):
                if "MISS" in row[1]["homedescription"]:
                    player.loc[temp1, "free_throws_missed"] += 1
                else:
                    player.loc[temp1, "free_throws_made"] += 1
            else:
                if "MISS" in row[1]["visitordescription"]:
                    player.loc[temp1, "free_throws_missed"] += 1
                else:
                    player.loc[temp1, "free_throws_made"] += 1
            
        elif row[1]["eventmsgtype"] == 4:
            player.loc[temp1, "rebounds"] += 1
        
        elif row[1]["eventmsgtype"] == 5:
            player.loc[temp1, "times_ball_lost"] += 1
            if not pd.isna(row[1]["player2_name"]):
                player.loc[temp2, "times_ball_stolen"] += 1
        
        elif row[1]["eventmsgtype"] == 6:
            player.loc[temp1, "fouls"] += 1
        
        if game_id != row[1]["game_id"]:
            game_id = row[1]["game_id"]
        
       
        if game_id != (player.loc[temp1, "game_id"].values[0]):
            player.loc[temp1, "games_played"] += 1
            player.loc[temp1, "game_id"] = game_id
                
        if count % 1000000 == 0:
            print(count)
        count += 1
print("Finished")

In [ ]:
player.head(30)